{
  "environment": "prod",
  "debug": false,
  "Captcha": {
    "secret": ""
  },
  "Ethereum": {
    "milliEtherToTransfer": 1000,
    "gasLimit": "21000",
    "prod": {
      "rpc": "http://testnet.tagcash.net:8545",
      "account": "",
      "privateKey": ""
    }
  }
}
